{% extends "layout.html" %}

{% block content %}
  <h2>{{ pkg.Source.Name }} paketi detayi</h2>

<p>
<h3> Source </h3>
<hr>
<table>
<tr>  <th> Name</th><td> {{ pkg.Source.Name }} </td> </tr>
<tr>  <th> Homepage</th><td><a href={{ pkg.Source.Homepage }}>{{ pkg.Source.Homepage }}</a> </td> </tr>
<tr>  <th> Packager</th><td> {{ pkg.Source.Packager.Name}} </td> </tr>
<tr>  <th> Type</th><td> {{ pkg.Source.IsA }} </td> </tr>
<tr>  <th> License</th><td> {{ pkg.Source.License }} </td> </tr>
<tr>  <th> Part Of</th><td> {{ pkg.Source.PartOf }} </td> </tr>
<tr>  <th> Summary</th><td> {{ pkg.Source.Summary }} </td> </tr>
<tr>  <th> Description</th><td> {{ pkg.Source.Description }} </td> </tr>
<tr>  <th> Archive </th><td> Type:{{ pkg.Source.Archive.attrib["type"] }} Hash:{{ pkg.Source.Archive.attrib["sha1sum"] }}</td> </tr>
<tr>  <th> Archive Url</th><td><a href={{ pkg.Source.Archive }}>{{ pkg.Source.Archive }}</a> </td> </tr>
{% if pkg.Source.find("BuildDependencies") %}
<tr>  <th> Build Dependencies</th>
   <td> 
     {% for dep in pkg.Source.BuildDependencies.iterchildren() %}
        {{ dep }} <br>
     {% endfor %}
   </td> 
</tr>
{% endif %}

{% if  pkg.Source.find("RuntimeDependencies") %}
<tr>  <th> Runtime Dependencies</th>
   <td>
     {% for dep in pkg.Source.RuntimeDependencies.iterchildren() %}
     {{ dep }} <br>
     {% endfor %}
   </td>
</tr>
{% endif %}

{% if  pkg.Source.find("Patches") %}
<tr>  <th> Patches</th>
   <td>
     {% for patch in pkg.Source.Patches.iterchildren() %}
        {{ patch  }} <br>
     {% endfor %}
   </td>
</tr>
{% endif %}

{% if  pkg.Source.find("SourceURI") %}
   <tr>  <th> pspec.xml URI</th> <td> {{ pkg.Source.SourceURI }} </td> </tr>
{% endif %}
</table>

</p>


{% for p in pkg.iterchildren() %}

  {% if p.tag == "Package" %}  
  <p>
  <h3> Package {{ p.Name }}</h3>
  <hr>
  <table>
     <tr> <th> Name</th> <td> {{ p.Name }}</td></tr>
       {% if p.find("BuildDependencies") %} 
       <tr>  <th> Build Dependencies</th>
         <td>
            {% for dep in p.BuildDependencies.iterchildren() %} 
	       {{ dep }} <br>
	    {% endfor %}
	 </td>
       </tr>
       {% endif %}

       {% if  p.find("RuntimeDependencies") %}
          <tr>  
	    <th> Runtime Dependencies</th>
	    <td>{% for dep in p.RuntimeDependencies.iterchildren() %}
	        {{ dep }} <br>
	      {% endfor %}
	    </td>
	  </tr>
       {% endif %}

       {% if  p.find("Patches") %}
          <tr> <th> Patches</th>
	    <td>
	      {% for patch in p.Patches.iterchildren() %}
     	        {{ patch  }} <br>
	      {% endfor %}
	    </td>
	  </tr>
       {% endif %}

       {% if  p.find("Files") %}
          <tr>  
	    <th> File Types</th>
	    <td>
	      {% for f in p.Files.iterchildren() %}
	      {{ f.attrib["fileType"] }} : {{ f  }} <br>
	      {% endfor %}
	    </td>
	  </tr>
       {% endif %}

       {% if  p.find("AdditionalFiles") %}
          <tr>  
	    <th> Additional File</th>
	    <td>
	      {% for f in p.AdditionalFiles.iterchildren() %}
   	         File : {{ f }} <br>
	          {% for attr, val in f.attrib.items() %}
                    {{ attr }} : {{ val }} <br>
	          {% endfor %}
	    </td>
	      {% endfor %}
	  </tr>
      {% endif %}

  </table>
  {% endif %}

  {% if p.tag == "History" %}
  <p>
    <h3> History </h3>
    <hr>
    <table>
      <tr><th>Release</th><th>Date</th><th>Version</th><th>Comment</th><th>Packager</th></tr>
      {% for  u in p.iterchildren() %}
      <tr>
        <td> {{ u.attrib["release"] }}  </td>
	<td> {{ u.Date }}  </td>
	<td> {{ u.Version }}  </td>
	<td> {{ u.Comment }}  </td>
	<td> {{ u.Name }}  </td>
      </tr>
      {% endfor %}
    </table>

   {% endif %}
{% endfor %}


{% endblock %}
