blinker
certifi
charset-normalizer
click
Flask
Flask-Login
Flask-WTF
greenlet
idna
importlib-metadata
itsdangerous
Jinja2
lxml
MarkupSafe
psycopg2-binary
requests
SQLAlchemy
typing
typing_extensions
urllib3
urlopen
Werkzeug
WTForms
zipp
