beautifulsoup4
blinker
bs4
cachelib
certifi
charset-normalizer
click
Flask
Flask-Session
Flask-SQLAlchemy
Flask-WTF
greenlet
idna
itsdangerous
Jinja2
lxml
MarkupSafe
plyer
psycopg2
requests
soupsieve
SQLAlchemy
typing_extensions
urllib3
Werkzeug
WTForms
