{% extends "layout.html" %}
{% block content %}
<strong>
    <nav>
	    <ul class="menu">
              <li><a href="{{ url_for('admin') }}">Admin Ana sayfa</a></li>
              <li><a href="{{ url_for('adminAddRepo') }}">Repo Ekle</a></li>
	    </ul>
 	</nav>
</strong>

    <div class="jumbo">
        <h2>Pisi Dagitik Derleme Ciftligi<h2>
        <h3>Repo Ekleme<h3>
        <form action="/ciftlik/admin/addrepo" method=post>


            {{ form.repo.label }}
            {{ form.repo }} <br>

            {{ form.branch.label }}
            {{ form.branch }} <br>

            {{ form.repourl.label }}
            {{ form.repourl }} <br>

            {{ form.dockerimage.label }}
            {{ form.dockerimage }} <br>

            {{ form.repodir.label }}
            {{ form.repodir }} <br>

            {{ form.enable.label }}
            {{ form.enable }} <br>

            {{ form.submit }}
        </form>
  </div>

{% endblock %}
