<!DOCTYPE html>
<html>
  <head>
    <title>Pisi Dagitik Derleme Ciftligi</title>
   <!--  <strong><link rel="stylesheet" href="https://ciftlik.pisilinux.org/static/css/main.css"></strong> -->
   <link rel="stylesheet" href="https://ciftlik.pisilinux.org/static/css/my.css">
      <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
      $(function () {
        $('[data-toggle="tooltip"]').tooltip()
      });
    </script>
 <style>
  .uyari{
    color: red;
    border:1px solid #ccc;
    padding: 2px;
    margin-bottom: 2px;
    background: #fff;
    padding-left: 5px;
  }
  .home_btn{
    margin-top: 5px;
  }
  .table-bordered td{
    border:1px solid #000 !important;
  }
</style>
  </head>

  <body>
  	
  	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  		<div class="container">
		<a class="navbar-brand" href="#">Pisilinux Çiftlik</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
		</button>

		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		  	<ul class="navbar-nav mr-auto">
		  		<li></li>
		  	</ul>
		    <ul class="nav navbar-nav">
		      <li class="nav-item active"><a class="nav-link" href="{{ url_for('home') }}">Anasayfa <span class="sr-only">(current)</span></a></li>
		      <li class="nav-item"><a class="nav-link" href="{{ url_for('queue') }}">Kuyruk</a></li>
		      <li class="nav-item"><a class="nav-link" href="queue/running">Çalışan İşler</a></li>
		      <li class="nav-item"><a class="nav-link" href="https://ciftlik.pisilinux.org/ciftlik/packages">Paketler </a></li>
		      
		    </ul>
		  </div>
		  </div>
	</nav>

<!-- 
    <header>
      <div class="container">
	<h1 class="logo">Pisi Ciftligi</h1>
	<strong><nav>
	    <ul class="menu">
              <li><a href="{{ url_for('home') }}">Anasayfa</a></li>
              <li><a href="{{ url_for('queue') }}">Kuyruk</a></li>
              <li><a href="{{ url_for('compiling') }}">Calisan Isler</a></li>
              <li><a href="{{ url_for('sources') }}">Paketler</a></li>
              <li><a href="{{ url_for('about') }}">Hakkinda</a></li>
	    </ul>
 	</nav></strong>
      </div>
    </header>
 -->
    <div class="container">
      {% block  top %}
     
      {% endblock %}
    </div>
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
    
  </body>
</html>
