{% extends "layout.html" %}

{% block top %}

  <h2>Kuyruk</h2>

<a href="/ciftlik/queue/waiting"><button class="btn btn-primary">Bekleyenler</button> </a>
<a href="/ciftlik/queue/failed"><button class="btn btn-danger">Başarısızlar</button> </a>
<a href="/ciftlik/queue/running"><button class="btn btn-info">Şu anda çalışanlar</button></a>
<a href="/ciftlik/queue/success"><button class="btn btn-success">Başarılılar</button></a>
<p>

{% endblock %}

{% block content %}

<table class="table table-striped table-bordered" id="myTable">
  <thead class="thead-dark">
<tr>
   <th class="align-middle">id</th>
   <th class="align-middle">Tarih</th>
   <th class="align-middle">Repo</th>
   <th class="align-middle">Branch</th>
   <th class="align-middle">Paket</th>
   <th class="align-middle">Commit</th>
   <th class="align-middle">Durum</th>
   <th class="align-middle">Karsilanmamis Bagimliliklari</th>
   <th class="align-middle">Islemler</th>
</tr>
</thead>
<tbody>
  {% for p   in packages %}
<tr>
  <td class="align-middle border border-dark" style="font-size: 12px;">{{ p.id       }}</td>
  <td class="align-middle border border-dark" style="font-size: 12px;width: 100px;text-align: center;">{{ p.tarih.strftime("%d-%m-%Y %H:%M") }}</td>
  <td class="align-middle border border-dark" style="font-size: 12px;">{{ p.repository  }}</td>
  <td class="align-middle border border-dark" style="font-size: 12px;">{{ p.branch      }}</td>
  <td class="align-middle border border-dark" style="font-size: 12px;">{{ p.paket.adi   }}</td>
  <td class="align-middle border border-dark" style="font-size: 12px;"><a href = {{ p.commit_url }} target="_blank">{{ p.commit_id   }}</a></td>
  <td class="align-middle border border-dark" style="font-size: 12px; text-align: center;">

    {% if p.durum  == 0 %}
   Bekliyor.
    {% endif %}
    {% if p.durum  == 1 %}
   Bir kismi bitti, bekliyor.
    {% endif %}
    {% if p.durum  == 100 %}
    <i class="material-icons" title="Çalışıyor">watch_later</i>
   
    {% endif %}
    {% if p.durum  == 101 %}
    <a target="_blank" href= /ciftlik/compiledetail/{{ p.id }}> 
      <i class="material-icons" title="Başarısız">warning</i>
   <!--  Basarisiz -->
    </a>
    {% endif %}
    {% if p.durum  == 999 %}
    <a target="_blank" href= /ciftlik/compiledetail/{{ p.id }}> 
   <i class="material-icons" title="Başarılı">done</i><!-- Basarili  -->
    </a>
    {% endif %}

 </td>
 <td class="align-middle border border-dark" style="font-size: 12px;">
  {% if p.paket.adi in build_deps.keys() %}
   {% for k,v in build_deps[p.paket.adi].items()  %}
    {% if v == False %}
	<p class="d-block bg-primary text-white" style="padding: 3px">  {{ k }} </p>
    {% endif %}
   {% endfor %}
  {% endif %} 
  </td>
 
  <td class="align-middle border border-dark">
    <a href=/ciftlik/queue/return2/{{ p.id }} ><i class="material-icons" data-toggle="tooltip" data-placement="top" title="Kuyruga geri al" alt="Kuyruga geri al">autorenew</i></a>
    <a href=/ciftlik/queue/delete2/{{ p.id }} ><i class="material-icons" data-toggle="tooltip" data-placement="top" title="Kuyruktan sil" alt="Kuyruktan sil">delete_forever</i></a>
  </td>

</tr>

  {% endfor %}
  </tbody>
</table>
{% endblock %}
