{% extends "admin_layout.html" %}
{% block content %} <br>

<div class="card text-white bg-secondary mb-3">
  <div class="card-header">Repo Ekleme Formu</div>
  <div class="card-body">
    <form action="/ciftlik/admin/addrepo" method=post>
        <div class="form-group">
            <label>Repo</label>
            <input type="text" class="form-control" id="repo" name="repo" >            
        </div>

        <div class="form-group">
            <label>Branch</label>
            <input type="text" class="form-control" id="branch" name="branch" >            
        </div>

        <div class="form-group">
            <label>Repo Url</label>
            <input type="text" class="form-control" id="repourl" name="repourl" >          
        </div>

        <div class="form-group">
            <label>Docker Image</label>
            <input type="text" class="form-control" id="dockerimage" name="dockerimage">  
        </div>

         <div class="form-group">
            <label>Repo Dir</label>
            <input type="text" class="form-control" id="repodir" name="repodir">  
        </div>

        <div class="form-check">
  <label class="form-check-label">
    <input type="checkbox" class="form-check-input" id="enable" name="enable" value="y">Enable
  </label>
</div>

<button type="submit" class="btn btn-dark btn-block">KAYDET</button>

          
    </form>
  </div>
</div>




    <div class="jumbo">
        
        <h3>Repo Ekleme<h3>
        <form action="/ciftlik/admin/addrepo" method=post>


            {{ form.repo.label }}
            {{ form.repo }} <br>

            {{ form.branch.label }}
            {{ form.branch }} <br>

            {{ form.repourl.label }}
            {{ form.repourl }} <br>

            {{ form.dockerimage.label }}
            {{ form.dockerimage }} <br>

            {{ form.repodir.label }}
            {{ form.repodir }} <br>

            {{ form.enable.label }}
            {{ form.enable }} <br>

            {{ form.submit }}
        </form>
  </div>

{% endblock %}
