{% extends "layout.html" %}

{% block top %}

  <h2>Kuyruk</h2>
<a href="waiting"> Bekleyenler</a>
<a href="failed"> Basarisizlar</a>
<a href="running"> Su anda calisanlar</a>
<a href="success"> Basarililar</a>
<p>

{% endblock %}

{% block content %}
<table border=1>
<tr>
   <th>id</th>
   <th>Tarih</th>
   <th>Repo</th>
   <th>Branch</th>
   <th>Paket</th>
   <th>Commit</th>
   <th>Durum</th>
   <th>Karsilanmamis Bagimliliklari</th>
   <th>Islemler</th>
</tr>
  {% for p   in packages %}
<tr>
  <td>{{ p.id       }}</td>
  <td>{{ p.tarih       }}</td>
  <td>{{ p.repository  }}</td>
  <td>{{ p.branch      }}</td>
  <td>{{ p.paket.adi   }}</td>
  <td><a href = {{ p.commit_url }}>{{ p.commit_id   }}</a></td>
  <td>

    {% if p.durum  == 0 %}
   Bekliyor.
    {% endif %}
    {% if p.durum  == 1 %}
   Bir kismi bitti, bekliyor.
    {% endif %}
    {% if p.durum  == 100 %}
   Calisiyor
    {% endif %}
    {% if p.durum  == 101 %}
    <a target=new href= /ciftlik/compiledetail/{{ p.id }}> 
   Basarisiz
    </a>
    {% endif %}
    {% if p.durum  == 999 %}
    <a target=new href= /ciftlik/compiledetail/{{ p.id }}> 
   Basarili 
    </a>
    {% endif %}

 </td>
 <td>
  {% if p.paket.adi in build_deps.keys() %}
   {% for k,v in build_deps[p.paket.adi].items()  %}
    {% if v == False %}
	<font color="red">  {{ k }} </font>
    {% endif %}
   {% endfor %}
  {% endif %}
  </td>

  <td>
    <a href=/ciftlik/queue/return/{{ p.id }} > <img title="Geri al" alt="Kuyruga geri al" src="{{ url_for('static', filename='image/geri.png') }}" ></a>
    <a href=/ciftlik/queue/delete/{{ p.id }} > <img title="Sil" alt="Kuyruktan sil" src="{{ url_for('static', filename='image/cop.png') }}" ></a>
  </td>

</tr>

  {% endfor %}
</table>
{% endblock %}
